a {
  cursor: pointer;
  user-select: none; }

#timer { transition: 1.1s linear }

@media (max-width: 576px) {
  img {
    max-height: 200px;
    overflow: hidden; }
}

@media (max-width: 992px) {
   .container {
      max-width: 100% }
}
